.lhqPersonMsg-top{
	width: 100%;
	height:2rem;
	background: #24292E;
	position:fixed;
	top: 0;
	left: 0;
	
}
.lhqPersonMsg-top>a>span{
	color: #FFFFFF;
	font-size:0.8rem;
	width: 2rem;
	height: 2rem;
	display: block;
	float: left;
	text-align: center;
	line-height: 2rem;
}
.lhqPersonMsg-top>p{
	color: #FFFFFF;
	font-size: 0.7rem;
	letter-spacing: 2px;
	width: 5rem;
	height: 2rem;
	display: block;
	float: left;
	text-align: center;
	line-height: 2rem;
	font-weight: 600;
	margin-left: 3.2rem;
}

.lhq-input{
	width: 100%;
	height: 24rem;
	overflow: hidden;
	margin-top: 2rem;
}
.lhq-input>p{
	width: 94%;
	height: 2rem;
	border-radius: 0.5rem;
	/*background: rgba(0,0,0,0.6);*/
	 background: -webkit-linear-gradient(left,#545659, #BCBDBE);
	margin: 0 auto;
	position:relative;
	margin-top: 0.5rem;
}
.lhq-input>p>button{
	width: 6rem;
	height: 1.5rem;
	border: none;
	outline: none;
	font-size: 0.7rem;
	color: #FFFFFF;
	border-radius: 0.3rem;
	background: -webkit-linear-gradient(left,#545659, #545659);
	box-shadow: 0px 0px 5px 1px #000000 inset;
	cursor: pointer;
	position: absolute;
	top: 0.25rem;
	right: 3rem;
}
.lhq-input>p:nth-child(1){
	height:4rem;
}
.lhq-input>p:nth-child(1)>span{
	position: absolute;
	top: 1rem;
}
.lhq-input>p:nth-child(1)>img{
	position: absolute;
	width: 3.2rem;
	height:3.2rem;
	border-radius: 0.5rem;
	background: rgba(255,255,255,.3);
	top: 0.4rem;
	right: 1.3rem;
	display: block;
}
.lhq-input>p>span{
	width: 4rem;
	height:2rem;
	display: block;
	text-align: center;
	line-height: 2rem;
	float: left;
	font-size: 0.7rem;
	font-weight: 600;
	color: #FFFFFF;
}
.lhq-input>p>input{
	width: 9rem;
	display: block;
	position: absolute;
	right: 1rem;
	top: 0.3rem;
	font-size: 0.6rem;
	padding-bottom: 0.3rem;
	padding-top: 0.3rem;
	font-weight: 600;
	background: rgba(255,255,255,.3);
	border-radius: 0.3rem;
	color: #FFFFFF;
	border: none;
	text-indent: 1em;
	letter-spacing: 0.13rem;
	
}
.lhq-button{
	width: 94%;
	height: 1.7rem;
	border-radius:0.6rem;
	text-align: center;
	line-height: 1.7rem;
	font-size: 0.7rem;
	font-weight: 600;
	background: #24292E;
	color: #FFFFFF;
	cursor: pointer;
	position: fixed;
	bottom: 1rem;
	left: 3%;
}
.lhq-zhe{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.7);
}
.lhq-zheBox{
	width: 80%;
	height: 8rem;
	margin: 0 auto;
	background:#FFFFFF;
	position: absolute;
	border-radius: 0.5rem;
	top:30%;
	left: 10%;
	overflow: hidden;
}
.lhq-zheBox>p{
	width: 100%;
	height: 2rem;
	margin: 0 auto;
	top:30%;
	left: 10%;
}
.lhq-zheBox>p:nth-child(1){
	margin-top: 0.5rem;
}
.lhq-zheBox>p:nth-child(4){
	overflow: hidden;
}
.lhq-zheBox>p:nth-child(4)>input:nth-child(1){
	width:4rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.7rem;
	border: none;
	outline: none;
	background:#122B40;
	border-radius: 0.3rem;
	color: #FFFFFF;
	margin-left: 1.7rem;
	margin-top: 0.3rem;
}
.lhq-zheBox>p:nth-child(4)>input:nth-child(2){
	width:4rem;
	height: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	font-size: 0.7rem;
	border: none;
	outline: none;
	background:#122B40;
	border-radius: 0.3rem;
	color: #FFFFFF;
	margin-left: 1rem;
	margin-top: 0.3rem;
	
}
.lhq-zheBox>p:nth-child(1)>span{
	width: 4rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 0.7rem;
	display: block;
	float: left;
	font-weight: 600;
}
.lhq-zheBox>p:nth-child(1)>input{
	width: 7.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-top: 0.2rem;
	font-size: 0.6rem;
	display: block;
	float: right;
	margin-right: 0.5rem;
	border: none;
	outline: none;
	background: #C6C6C6;
	border-radius: 0.3rem;
	color: #000000;
	text-indent:1em;
}
.lhq-zheBox>p:nth-child(3)>span{
	width: 4rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 0.7rem;
	display: block;
	float: left;
	font-weight: 600;
}
.lhq-zheBox>p:nth-child(3)>input{
	width: 7.5rem;
	padding-top: 0.3rem;
	padding-bottom: 0.3rem;
	margin-top: 0.2rem;
	font-size: 0.6rem;
	display: block;
	float: right;
	margin-right: 0.5rem;
	color: #000000;
	border: none;
	outline: none;
	text-indent:1em;
	border-radius: 0.3rem;
	background: #C6C6C6;
}
.lhq-input>p>i:nth-child(3){
	width:2rem;
	height: 2rem;
	position: absolute;
	right: 0.7rem;
	display:block;
	top: 0;
	line-height:2rem;
	font-size: 0.7rem;
	color:#FF8080;
	text-indent:1em;
	display: none;
}
.lhq-input>p>i:nth-child(4){
	width:2rem;
	height: 2rem;
	position: absolute;
	right: 0.7rem;
	display:block;
	top: 0;
	line-height:2rem;
	font-size: 0.7rem;
	color:#84F4D9;
	text-indent:1em;
	display: none;
}
.lhq-mats{
	width:100%;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	font-size: 0.7rem;

}
.lhq-input>p:nth-child(4)>i{
	width:4.5rem;
	height: 1rem;
	background:rgba(0,0,0,0);
	position: absolute;
	display: block;
	right: 1rem;
	top: 0.5rem;
	line-height: 1rem;
	font-size:0.7rem;
	font-style: normal;
	text-indent: 0;
	
	
}
