.zhj_wra{
	width: 100%;
	height:28.4rem;
	background-size: 100% 100%;
	overflow: hidden;
}
.zhj_header{
	width: 100%;
	height: 2rem;
	background: black;
	float: left;
}
.zhj_head_left{
	width: 20%;
	height: 2rem;
	/*background: pink;*/
	float: left;
}
.zhj_head_left span{
	display: inline-block;
	width: 100%;
	height: 2rem;
	text-indent: 0.5rem;
	line-height: 2rem;	
}
.zhj_head_left span:after{
	position: absolute;
	content: '';
	width: 6%;
	height: 0.15rem;
	background: white;
	transform: translateY(1.2rem) rotate(45deg);
}
.zhj_head_left span:before{
	position: absolute;
	content: '';
	width: 6%;
	height: 0.15rem;
	background: white;
	transform: translateY(0.6rem) rotate(-45deg);
}
.zhj_headerCet{
	width: 60%;
	height: 2rem;
	float: left;
	text-align: center;
	line-height: 2rem;
	color: white;
	font-size: 1rem;
}
.zhj_headRigh{
	width: 20%;
	height: 2rem;
	float: left;
}
.zhj_headRigh span:nth-child(1){
	display: inline-block;
	color: white;
	font-size: 1rem;
	font-weight: normal;
	float: left;
	margin-top: 0.4rem;
	margin-left: 1rem;
}
.zhj_padding{
	width: 100%;
	height: auto;
	padding: 0 0.2rem 0 0.2rem;
	overflow: hidden;
}
.zhj_auto{
	width: 100%;
	height: 6rem;
	float: left;
	position: relative;
	overflow: hidden;
	background: rgba(0,0,0,0.3);
	border-radius: 5%;
	margin-top: 0.1rem;
}
.zhj_auto ul{
	width: 400%;
	height:6rem;
    overflow: hidden;
    border-radius: 5%;
}
.zhj_auto ul li{
	width: 25%;
	height: 6rem;
	float: left;
	border-radius: 5%;
	position: relative;
}
.zhj_auto ul li span{
	display: block;
	width: 100%;
	text-align: center;
	float: left;
	color: black;
	font-size:.9rem;
	position: absolute;
	bottom: 0rem;
}
.zhj_auto ul li img{
	width: 100%;
	height:6rem;
	float: left;
	border-radius: 5%;
}
.btnLeft{
	position: absolute;
	top: 25%;
	left: 60%;
	width: 3rem;
	border: none;
	z-index: 999;
	background: rgba(255,255,255,0.7);
}
.btnRight{
	position: absolute;
	top: 25%;
	right: 2%;
	width: 3rem;
	border: none;
	z-index: 999;
	background: rgba(255,255,255,0.7);
}

.zhj_biaoti{
	width: 100%;
	height: 4.4rem;
	float: left;
	margin-top: 0.5rem;
	position: relative;
	border-bottom:1px dashed rgba(0,0,0,0.4);
}
.zhj_biaoti span{
	display: inline-block;	
	float: left;
}
.zhj_biaoti h3{
	display:block;
	padding: 0.1rem 0 0 0;
	float: left;	
}
.zhj_biaoti .zhj_text{
	width: 100%;
	height: auto;
	float: left;
	color: black;
	font-size: 0.7rem;
	line-height: 1rem;
	margin-top: 0.4rem;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.zhj_btn{
	float: left;
}
.zhj_fbr{
	width: auto;
	height: auto;
	outline: none;
	border: none;
	position: absolute;
	right: 7rem;
	bottom: 0.3rem;
	font-size: 0.6rem;
}
.upName{
	width: auto;
	height: auto;
	float: left;
	position: absolute;
	right: 0rem;
	bottom: 0.3rem;
	font-size: 0.6rem;
	text-align: center;
	border-radius: 0.2rem;
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;
}
.zhj_xie{
	position: absolute;
	right:6rem;
	bottom: 0.4rem;
}
.zhj_bottom{
	width: 100%;
	height: 1rem;
	position: fixed;
	right: 0;
	bottom: 0;
	font-size: 0.7rem;
	text-align: center;
	background:rgba(255,255,255,0.6);
}
.shower{
	width: 96%;
	height: 8rem;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top:0;
	left: 0;
	margin: 0 2% 0 2%;
	border-radius: 5%;
	color: white;
	/*transform: translateY(0);*/
	opacity: 0;
}
.shower i{
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 1rem;
	color: white;
}
.shower p:nth-child(2){
	position: absolute;
	top: 1.8rem;
	right: 5em;
	text-align: center;
	font-size: 1rem;
}
.shower p:nth-child(3){
	position: absolute;
	top: 3.6rem;
	right: 4rem;
	font-size: 1rem;
}
.zhj_button{
	position: absolute;
	top: 6rem;
	right: 6.8rem;
	font-size: 0.8rem;
	color: white;
}

















