body{
	overflow: hidden;
	width:100%;
	
}
.wyh_wrap{
	width:100%;
	height:29rem; 
	/*background: #E3E3E3;*/
	/*background: rgba(0,0,0,0.8);*/
	background: url(../images/login_2.jpeg) no-repeat;
	background-size: 100% 100%;
}
.yu_tilte{
	width:95%;
	height:2rem;
	margin:0 auto;
	color:white;
	border-bottom:1px solid white;
	/*border-bottom:1px solid #525762;*/
}

.yh_zc{
	text-align: center;
	font-size:1rem;
	line-height: 2rem;
	/*position: relative;*/
}
.yh_fh{
	width: 0.475rem;
	height: 0.825rem;
	display: block;
	position: absolute;
	top: 0.4625rem;
	left: 0.6rem;
}
.yh_fh:before{
	width:0.6rem;
	height:0.15rem;
	background: white;
	/*background: #525762;*/
	content: "";
	position: absolute;
	top:0.16rem;
	left:0;
	transform-origin: center center;
	transform: rotate(-45deg);
}
.yh_fh:after{
	width:0.6rem;
	height:0.15rem;
	/*background: #525762;*/
	background: white;
	content: "";
	position: absolute;
	top:0.5rem;
	left:0rem;
	transform-origin: center center;
	transform: rotate(45deg);
}
.yh_resbody{
	width:100%;
	height:auto;
	/*text-align: center;*/
}
.yh_resbody input{
	/*display: block;*/
}
.wyhUser{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.user_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	/*padding:0 0.3rem 0 0.3rem;*/
	font-size: 0.65rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_user{
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	border:none;
	outline: none;
	color:white;
	/*border:none;*/
	/*outline: none;*/
}
.wyhPass{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*color:white;*/
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.pass_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	padding:0 0.3rem 0 0.3rem;
	font-size: 0.6rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	/*color:black;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_pass{
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	border:none;
	outline: none;
	color:white;
	/*border:none;*/
	/*outline: none;*/
}
.wyhrePass{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.repass_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	/*padding:0 0.3rem 0 0.3rem;*/
	font-size: 0.6rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_repass{
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	color:white;
	border:none;
	outline: none;
	/*border:none;*/
	/*outline: none;*/
}
.wyhTel{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.tel_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	/*padding:0 0.3rem 0 0.3rem;*/
	font-size: 0.65rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_tel{
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	border:none;
	outline: none;
	color:white;
	/*border:none;*/
	/*outline: none;*/
}

.wyhEml{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.eml_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	padding:0 0.3rem 0 0.3rem;
	font-size: 0.6rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_eml{
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	color:white;
	border:none;
	outline: none;
	/*border:none;*/
	/*outline: none;*/
}
.wyhName{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.name_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	padding:0 0.3rem 0 0.3rem;
	font-size: 0.6rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_name{
	width:8.5rem;
	height:1.5rem;
	color:white;
	background: none;
	margin-top:0.3rem;
	border:none;
	outline: none;
	/*border:none;*/
	/*outline: none;*/
}

.wyhQq{
	width:12rem;
	/*border-radius: 0.3rem;*/
	border-bottom:rgba(225,225,225,0.7) solid 0.05rem;
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	padding-left:0.3rem;
	height:2rem;
	margin-top:0.8rem;
	/*background: chartreuse;*/
}
.qq_div{
	line-height:2.4rem;
	height:2rem;
	width:3rem;
	padding:0 0.3rem 0 0.3rem;
	font-size: 0.6rem;
	font-family: "微软雅黑";
	/*font-size: 1.1rem;*/
	color:white;
	text-align: center;
	/*background: gold;*/
}
.yh_qq{
	color:white;
	width:8.5rem;
	height:1.5rem;
	background: none;
	margin-top:0.3rem;
	border:none;
	outline: none;
	/*border:none;*/
	/*outline: none;*/
}

.yuSubmit{
	width:6rem;
	/*border-radius: 0.3rem;*/
	/*border-bottom:white solid 0.05rem;*/
	/*background: rgba(255,255,255,0.8);*/
	text-align: center;	
	margin:0 auto;
	/*width:12rem;*/
	/*padding-left:0.3rem;*/
	height:2rem;
	margin-top:2.3rem;
	/*background: chartreuse;*/
}
.yu_btn{
	width:6rem;
	height:2rem;
	display: block;
	font-size: 0.8rem;
}
.yu_tanmm{
	width:7rem;
	height:1rem;
	line-height: 1rem;
	/*background: chocolate;*/
	color:white;
	z-index: 999;
	position: absolute;
	top:6.4rem;
	right:0;
	display: none;
}
.yu_tanremm{
	width:7rem;
	height:1rem;
	line-height: 1rem;
	background: chocolate;
	color:white;
	z-index: 999;
	position: absolute;
	top:9.2rem;
	right:0;
}
.yu_tantel{
	width:7rem;
	height:1rem;
	line-height: 1rem;
	background: chocolate;
	color:white;
	z-index: 999;
	position: absolute;
	top:11.9rem;
	right:0;
}
.yu_taneml{
	width:7rem;
	height:1rem;
	line-height: 1rem;
	background: chocolate;
	color:white;
	z-index: 999;
	position: absolute;
	top:14.7rem;
	right:0;
}
.yu_tanqq{
	width:7rem;
	height:1rem;
	line-height: 1rem;
	background: chocolate;
	color:white;
	z-index: 999;
	position: absolute;
	top:20.3rem;
	right:0;
}
/*遮罩层*/
/*
.shdon{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	background: rgba(0,0,0,0.4);
}
.shower{
	width: 96%;
	height: 8rem;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top:-8rem;
	left: 0;
	margin: 0 2% 0 2%;
	border-radius: 5%;
	color: white;
	z-index:99;
	opacity: 0;
}
.shower i{
	position: absolute;
	top: 2rem;
	right: 2rem;
	font-size: 1rem;
	color: white;
}
.shower p:nth-child(2){
	position: absolute;
	top: 1.8rem;
	right: 5em;
	text-align: center;
	font-size: 1rem;
}
.shower p:nth-child(3){
	position: absolute;
	top: 3.6rem;
	right: 4rem;
	font-size: 1rem;
}
.zhj_button{
	position: absolute;
	top: 6rem;
	right: 6.4rem;
	font-size: 0.8rem;
	color: white;
}
*/



.shdon{
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	display: none;
	background: rgba(0,0,0,0.6);
}
.shower{
	width: 96%;
	height: 8rem;
	background: rgba(0,0,0,0.8);
	position: absolute;
	top:0;
	left: 0;
	margin: 0 2% 0 2%;
	border-radius: 5%;
	color: white;
	display: none;
	opacity: 0;
}
.shower i{
	position: absolute;
	top: 1rem;
	right: 1rem;
	font-size: 1rem;
	color: white;
}
.shower p:nth-child(2){
	position: absolute;
	top: 1.8rem;
	right: 5.4em;
	text-align: center;
	font-size: 0.9rem;
}
.shower p:nth-child(3){
	position: absolute;
	top: 3.6rem;
	right:3rem;
	font-size: 1rem;
}
.zhj_button{
	position: absolute;
	top: 6rem;
	right: 6.8rem;
	font-size: 0.8rem;
	color: white;
}

.yu_tishi{
	width:100%;
	height:2rem;
	background: rgba(0,0,0,0.8);
	color:white;
	text-align: center;
	line-height: 2rem;
	font-size: 0.7rem;
	position: fixed;
	top:0;
	left:0;
	display: none;
}
